:root {
  --label-color: #311b92;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.App {
  padding: 30px;
  filter: blur(0px);
  color: #ffffff;
  width: 60%;
  margin: auto;
  background-color: #d84315;
  border-radius: 20px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #efefef;
}

h1 {
  display: block;
  text-align: center;
  background-color: var(--label-color);
  margin-top: 25px;
  margin-bottom: 35px;
  font-weight: 700;
}

input {
  border-radius: 5px;
  padding: 0.5rem;
  border: transparent;
  font-size: large;
  margin: 1rem 0;
  width: 99%;
}

.input-label {
  font-weight: 500;
  font-size: 1.3rem;
  display: block;
  margin-top: 0.5rem;
  width: 100%;
}

button {
  cursor: pointer;
  background: #311b92;
  font-size: 18px;
  border-radius: 0.5rem;
  padding: 12px;
  border: 1px solid #fff;
  margin: 1rem 0.3rem;
  width: 98%;
  color: #ffffff;
}

p {
  margin: auto;
  text-align: center;
  font-size: larger;
}

@media (min-width:961px)  {
  .App {
    width: 50%;
  }
}

@media (min-width:1025px) {
  .App {
    width: 40%;
  }
}

@media (min-width:1281px) {
  .App {
    width: 40%;
  }
}

.active {
  background: #3f51b5;
  color: white;
}

.disabled {
  background-color: #808080;
}

#root {
  margin-top: 90px;
}

.heading:after {
  background: linear-gradient(342deg, transparent 16px, var(--label-color) 0), linear-gradient(45deg, transparent 16px, var(--label-color) 0);
  background-size: 22px 32px;
  content: "";
  display: block;
  height: 31px;
  position: relative;
  top: 16px;
}

.heading:before {
  background: linear-gradient(129deg, transparent 16px, var(--label-color) 0), linear-gradient(205deg, transparent 16px, var(--label-color) 0);
  background-size: 22px 32px;
  content: "";
  display: block;
  height: 32px;
  position: relative;
  top: -29px;
}

@media (max-width:799px){
  .App {
    width: 95%;
  }
}